<footer>
    <p>&copy; {{ site.time | date: '%Y' }} Justin Edwards. All rights reserved.</p>
 <!--    <nav>
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/publications/">Publications</a>
        <a href="{{ site.baseurl }}/teaching/">Teaching and supervision</a>
        <a href="{{ site.baseurl }}/community/">Research community involvement</a>
    </nav> -->
    <div class="socials">
        <p>Connect with me:</p>
        <p>Email: <span class="blockspam" aria-hidden="true">PLEASE GO AWAY!</span> justin [dot] edwards [at]<!-- sdfjsdhfkjypcs --> oulu [dot] fi | 
        <a href="https://www.oulu.fi/en/researchers/justin-edwards">University of Oulu Researcher Profile</a> |
        <a href="https://www.linkedin.com/in/justin-edwards-88438996/">LinkedIn</a> |
        <a href="https://scholar.google.com/citations?user=9b7jfc8AAAAJ&hl">Google Scholar</a> |
        <a href="https://youtube.com/@justinedwards6206?si=9ki1_uQxBDal3aRZ">YouTube</a> |
        <a href="https://github.com/justinHCI">GitHub</a>
    </div>
</footer>