---
layout: default
title: Community Involvement
---

{% include navigation.html %}

<p class="title">Community involvement</p>
<section>
    <h2>Editorial Roles</h2>
    <p>I am a Senior Editor for the <a href="https://www.sciencedirect.com/journal/international-journal-of-human-computer-studies/about/editorial-board">International Journal of Human-Computer Studies</a> (IJHCS).</p>
    <p>I regularly serve as an Associate Chair for the Understanding People subcommittee at the <a href="https://dl.acm.org/conference/chi">ACM CHI Conference</a> and as a paper committee member for the <a href="https://dl.acm.org/conference/cui">ACM CUI Conference</a>.</p>
</section>
<section>
    <h2>Organizing Committee Membership</h2>
    <p>I have served in the following chair roles in conference organizing committees:</p>
    <ul>
        <li>ACM CUI Conference:
            <ol>
                <li>Hybrid Experience Chair (2023, 2025)</li>
                <li>Student Volunteer Chair (2024)</li>
                <li>Virtual Chair (2021)</li>
                <li>Accessibility Chair (2019)</li>
            </ol>
        </li>
        <li>European Conference on Technology-Enhanced Learning:
            <ol>
                <li>Workshop Chair (2025)</li>
            </ol>
        </li>
        <li>ACM Automotive User Interfaces Conference:
            <ol>
                <li>Social Events Chair (2021)</li>
            </ol>
        </li>
    </ul>
</section>
<section>
    <h2>Reviewing</h2>
    <p>I regularly review for the following conferences and journals:</p>
    <ul>
        <li>ACM CHI Conference</li>
        <li>ACM CUI Conference</li>
        <li>ACM DIS Conference</li>
        <li>ACM Automotive User Interfaces Conference</li>
        <li>ACM NordiCHI</li>
        <li>International Journal of Human-Computer Studies</li>
        <li>International Journal of Human-Computer Interaction</li>
        <li>Journal of Computer Supported Cooperative Work</li>
    </ul>
</section>

{% include footer.html %}